.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
.navbar button {
  margin: 0.125rem;
}

.title {
  text-align: center;
}

.add-fighter-wrapper {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}
.fighter-form input {
  margin: 0.125rem;
}
.fighter-form button {
  margin: 0.125rem;
}

.fighter-card {
  border: 1px solid black;
  margin: 1rem;
  padding: 1.5rem;
  padding-top: 0.75rem;
  width: 200px;
  border-radius: 8px;
}
.fighter-record {
  padding-left: 1.75rem;
}
.select-button {
  text-align: center;
}
.admin-buttons {
  text-align: center;
}
.fighter-card button {
  margin: 0.125rem;
}

.comparison-wrapper {
  border: 1.5px solid black;
  margin: 1rem;
  padding: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}
.comparison-wrapper button {
  margin: 0.125rem;
}

.select-weight-class-button {
  margin-left: 1rem;
}
.fighter-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
}

