/* home page */

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
.navbar button {
  margin: 0.125rem;
}

.title {
  text-align: center;
}

.add-fighter-wrapper {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}
.fighter-form input {
  margin: 0.125rem;
}
.fighter-form button {
  margin: 0.125rem;
}

.fighter-card {
  border: 1px solid black;
  margin: 1rem;
  padding: 1.5rem;
  padding-top: 0.75rem;
  width: 200px;
  border-radius: 8px;
}
.fighter-card a {
  text-decoration: none;
  color: inherit;
}
.fighter-card a:hover {
  text-decoration: underline;
}
.fighter-record {
  padding-left: 1.75rem;
}
.select-button {
  text-align: center;
}
.admin-buttons {
  text-align: center;
}
.fighter-card button {
  margin: 0.125rem;
}

.comparison-wrapper {
  border: 1.5px solid black;
  margin: 1rem;
  padding: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}
.comparison-wrapper button {
  margin: 0.125rem;
}

.select-weight-class-button {
  margin-left: 1rem;
}
.fighter-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
}

/* comparison table */

.comparison-table {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.comparison-table-content {
  border-collapse: collapse;
  min-width: 400px;
}
.comparison-table-content th,
.comparison-table-content td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 0.25rem 0;
}
.comparison-table-content tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
.winner {
  background-color: #d4edda;
}
.loser {
  background-color: #fdeeee;
}


/* fighter profile page */

.fighter-profile {
  padding: 2rem;
}
.fighter-header {}
.fighter-content-wrap {
  display: flex;
  gap: 1rem;
}
.fighter-summary,
.fighter-stats,
.fighter-notes {
  flex: 1;
  padding: 1rem;
  border: 2px solid black;
  margin: 2px;
}
.fighter-history { 
  margin-top: 100px;
  text-align: center;
}  /* wrap this later, fighter-record is used by fightcard */

/* fighter history */

.fighter-history {
  margin-top: 2rem;
}
.fighter-history-table {
  width: 100%;
  border-collapse: collapse;
}
.fight-history-table th,
.fight-history-table td {
  padding: 0.75rem 1rem;
  text-align: center;
}
.fight-history-table th {
  border-bottom: 2px solid #ccc;
}
.fight-history-table tbody tr {
  border-bottom: 1px solid #eee;
}
.fight-history-table th:nth-child(2),
.fight-history-table td:nth-child(2) {
  text-align: left;
}