/* home page */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navbar-right {
  display: flex;
  align-items: center;
}
.navbar button {
  margin: 0.125rem;
}
.navbar button,
.navbar input {
  height: 2rem;
}
.admin-import-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 1.5rem;
}


.title {
  text-align: center;
}

.add-fighter-wrapper {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}
.fighter-form input {
  margin: 0.125rem;
}
.fighter-form button {
  margin: 0.125rem;
}

.fighter-card {
  border: 1px solid black;
  margin: 1rem;
  padding: 1.5rem;
  padding-top: 0.75rem;
  width: 200px;
  border-radius: 8px;
}
.fighter-card a {
  text-decoration: none;
  color: inherit;
}
.fighter-card a:hover {
  text-decoration: underline;
}
.fighter-record {
  padding-left: 1.75rem;
}
.select-button {
  text-align: center;
}
.admin-buttons {
  text-align: center;
}
.fighter-card button {
  margin: 0.125rem;
}
.fighter-card.fighter-1 {
  border: 3px solid blue;
}
.fighter-card.fighter-2 {
  border: 3px solid red;
}

.comparison-wrapper {
  border: 1.5px solid black;
  margin: 1rem;
  padding: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}
.comparison-wrapper button {
  margin: 0.125rem;
}

.fighter-search {
  margin-left: 1rem;
  padding: 0.4rem;
}
.select-weight-class-button {
  margin-left: 1rem;
  height: 2rem;
}
.fighter-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
}

/* comparison table */

.comparison-table {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.comparison-table-content {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
}
.comparison-table-content th,
.comparison-table-content td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 0.25rem 0;
}
.comparison-table-content tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
.winner {
  background-color: #d4edda;
}
.loser {
  background-color: #fdeeee;
}
.comparison-table-content th:first-child,
.comparison-table-content td:first-child,
.comparison-table-content th:last-child,
.comparison-table-content td:last-child {
    width: 20%;
}
.comparison-table-content th:nth-child(2),
.comparison-table-content td:nth-child(2) {
    width: 60%;
}

/* upcoming event */

.card-selector {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0 1rem;
}
.card-selector button {
    cursor: pointer;
}
.upcoming-event {
    width: 80%;
    max-width: 900px;
    margin: 2rem auto;
    text-align: center;
}
.event-matchups {
    width: 100%;
    border-collapse: collapse;
}
.event-matchups td {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}
.bout-matchup td:first-child,
.bout-matchup td:last-child {
    width: 45%;
}
.bout-matchup td:nth-child(2) {
    width: 10%;
    text-align: center;
}

/* fighter library */

.fighter-library h1 {
  margin-left: 1rem;
}

/* fighter profile page */

.fighter-profile {
  padding: 2rem;
}
.fighter-header {
  display: flex;
  justify-content: space-between;
}
.fighter-content-wrap {
  display: flex;
  gap: 1rem;
}
.fighter-summary,
.fighter-stats,
.fighter-notes {
  flex: 1;
  padding: 1rem;
  border: 2px solid black;
  margin: 2px;
}
.fighter-history { 
  margin-top: 100px;
  text-align: center;
}  /* wrap this later, fighter-record is used by fightcard */

/* fighter history */

.fighter-history {
  margin: 2rem auto;
  width: 90%;
  border-top: 2px solid black;
}
.fight-history-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}
.fight-history-table th,
.fight-history-table td {
  padding: 0.75rem 1rem;
  text-align: center;
}
.fight-history-table th {
  border-bottom: 2px solid #ccc;
}
.fight-history-table tbody tr {
  border-bottom: 1px solid #eee;
}
.fight-history-table th:nth-child(2),
.fight-history-table td:nth-child(2) {
  text-align: left;
}

/* add fighter form */
.fighter-form {
  width: 600px;
  margin: 0 auto;
  border: 2px solid black;
  background-color: lightgrey;
}
.form-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.75rem;
}
.fighter-basic-info input, 
.fighter-general-info input,
.fighter-career-info input,
.fighter-finishes-info input {
  width: 150px;
}
.fighter-advanced-info input {
  width: 200px;
}
.fighter-basic-info,
.fighter-general-info,
.fighter-career-info,
.fighter-finishes-info {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.fighter-advanced-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.fighter-basic-info h4,
.fighter-general-info h4, 
.fighter-career-info h4,
.fighter-finishes-info h4,
.fighter-advanced-info h4 {
  align-self: flex-start;
  font-size: 1.2rem;
}
.fighter-form-content {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  border: 2px solid black;
  background-color: white;
  padding: 2rem;
}
.add-fighter-button button {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
}
.fighter-form select {
  padding: 0.2rem 0.4rem;
  font-size: 0.9rem;
  cursor: pointer;
}
.fighter-form p {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
}

/* bout profile */

.bout-profile {
  padding: 2rem;
  text-align: center;
}
.bout-fighter-header {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 2rem auto;
}
.round-comparison-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 2rem;
}
.round-comparison-table td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 0.25rem 0;
}
.round-comparison-table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

@media (max-width: 600px) {
  .fighter-list {
    grid-template-columns: 1fr;
  }
  .fighter-card {
    width: 50%;
  }

  .fighter-content-wrap {
    flex-direction: column;
  }
  .fighter-summary, .fighter-stats, .fighter-notes {
    width: 100%;
  }
  .fighter-history {
    width: 100%;
    overflow-x: auto;
  }
  .fight-history-table {
    min-width: 700px;
  }
  
}

